section.banner {
  width: 100%;

  position: relative;
  background: url("../assets/parallax-image.png") no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  color: $dark-grey;
  @extend .default-application-padding;

  img {
    margin: 10rem 0 -2rem 0;
    max-width: 18rem;
  }
  div {
    margin: 1rem 0 1rem 3rem;
    h2 {
      font-size: 3rem;
      @extend .banner-margin-items;
      font-family: "Oswald", sans-serif;
    }
    h3 {
      font-size: 1.3rem;
      @extend .banner-margin-items;
    }
    a {
      color: $dark-pink;
    }
	}
	
	@media screen and (max-width: $average-break){
		img{
			margin: 0 0 -2rem 0;
		}
		div{
			margin: 0;
		}
	}
}
