#menu button{
    color: #fff;
    background: $dark-grey;
    @include box-shadow($dark-pink);
    @extend .default-button-style;
    font-weight: 600;
    letter-spacing: 1;
}
.banner button{
    @extend .banner-margin-items;
    color: #fff;
    background: $dark-pink;
    @include box-shadow($dark-grey);
    @extend .default-button-style;
    font-weight: 600;
    letter-spacing: 1;
}
.price button{
    @extend .default-button-style;
    font-weight: 600;
    letter-spacing: 1;

    &:hover{
        @include box-shadow($dark-pink);
        color: $barber-gold;
    }
}