section.hair-cards {
  display: flex;
  flex-wrap: wrap;

  padding: 1rem 2rem;
  width: 100%;
  height: 80vh;
  background: #ffffff;
  box-shadow: 0px 0px 16px $darked-shadow;
  position: relative;

  @media (max-width: $average-break) {
    width: 100%;
    height: 100vh;
    button{
        left: 30%
    }
  }

  div.ad {
    margin: 4rem 0 0 1rem;
  }
  div.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (max-width: $small-break) {
      width: 90%;
      height: 50vh;
      overflow-y: scroll;
      flex-wrap: nowrap;
    }
    .card {
      border: none;
      border-bottom: 0.6px solid $darked-shadow;
      max-width: 280px;
      width: 100%;
      display: flex;
      padding: 0.5rem 0.8rem;
      align-items: center;
      justify-content: space-between;
      margin: 5px 15px;
      img {
        border-radius: 5px;
        height: 80%;
      }
    }
  }
  img#style {
    position: relative;
    top: 4rem;
    max-height: 70%;

    @media screen and (max-width: $small-break) {
      margin-top: -3rem;
      width: 8rem;
      height: 10rem;
    }
    @media screen and (max-width: $average-break) {
        width: 10rem;
        height: 12rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
    }
  }
}
