section.hair-cards{
    margin: 1rem auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem;
    width: 60vw;
    height: 80vh;

    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(48, 47, 54, 0.5);
    position: relative;

}

.hair-cards .card{
    border: none;
    border-bottom: .6px solid rgba(105, 105, 105, .4);

    display: flex;  
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
    img{
        border-radius: 5px;
        height: 80%;   
    }
}
.select-hair-cut{
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: -2.5rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    button{
        padding: .5rem 1.5rem;
        border-radius: .5rem;
        color: $winter-white;
        background-color: $dark-grey;
    }
}
