main section.contact-us{
  width: 95%;
  padding: 1rem;
  margin: 10px auto;

  background: #ffffff;
  border: 0;
  border-radius: 8px;
  fieldset{
    border: 0;
  }
  legend{
    font-size: 1.6rem;
    margin-top: 10px;
  }
  span{
    margin-top: -1.2rem;
  }
}