.default-application-padding, section.banner, header div ul li, header {
  padding: 1rem 1.5rem;
}

.banner-margin-items, .banner button, section.banner div h3, section.banner div h2 {
  margin: 12px 0;
}

.default-button-style, .price button, .banner button, #menu button {
  border-style: none;
  border-radius: 12px;
  padding: 0.6rem 1.4rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
  height: 100%;
  width: 100%;
}

li, a {
  list-style: none;
  text-decoration: none;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}

header {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: transparent;
  color: #1b1d21;
}
header div {
  max-width: 980px;
  margin: auto 20px;
}
header div img {
  width: 12rem;
  height: 4rem;
}
header div ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
header div ul li {
  margin: auto 10px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1;
}
header div ul a {
  border-radius: 8px;
}
header div ul a:hover {
  box-shadow: 4px 4px 6px -2px rgba(27, 29, 33, 0.8);
  transition: 0.6s;
  background-color: #e6eded;
  padding: 0.3rem 1.5rem;
  margin: auto auto;
}

section.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../assets/parallax-image.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #1b1d21;
}
section.banner img {
  margin: 0 0 -2rem 5rem;
  max-width: 18rem;
}
section.banner div {
  margin: -2rem 0 0 3rem;
}
section.banner div h2 {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
}
section.banner div h3 {
  font-size: 1.3rem;
}
section.banner div a {
  color: #cf3853;
}

#menu button {
  color: #fff;
  background: #1b1d21;
  box-shadow: 4px 4px 6px -2px rgba(207, 56, 83, 0.8);
  font-weight: 600;
  letter-spacing: 1;
}

.banner button {
  color: #fff;
  background: #cf3853;
  box-shadow: 4px 4px 6px -2px rgba(27, 29, 33, 0.8);
  font-weight: 600;
  letter-spacing: 1;
}

.price button {
  font-weight: 600;
  letter-spacing: 1;
}
.price button:hover {
  box-shadow: 4px 4px 6px -2px rgba(207, 56, 83, 0.8);
  color: #f3fa2f;
}

section.hair-cards {
  margin: 1rem auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  width: 60vw;
  height: 80vh;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(48, 47, 54, 0.5);
  position: relative;
}

.hair-cards .card {
  border: none;
  border-bottom: 0.6px solid rgba(105, 105, 105, 0.4);
  display: flex;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
  margin: 5px auto;
}
.hair-cards .card img {
  border-radius: 5px;
  height: 80%;
}

.select-hair-cut {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin: -2.5rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-hair-cut button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: #e6eded;
  background-color: #1b1d21;
}

/*# sourceMappingURL=main.css.map */
